{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Quincena {{ quincena.quincena }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Quincena ' + quincena.quincena) %}
        {{ topbar.button_previous('Quincenas', url_for('quincenas.list_active')) }}
        {% if current_user.can_edit('QUINCENAS') %}
            {{ topbar.button_edit('Editar', url_for('quincenas.edit', quincena_id=quincena.id)) }}
        {% endif %}
        {% if current_user.can_admin('QUINCENAS') %}
            {% if quincena.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('quincenas.delete', quincena_id=quincena.id)) }}{% endif %}
            {% if quincena.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('quincenas.recover', quincena_id=quincena.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Detalle y acciones -->
    <div class="row">
        <div class="col-4">
            <!-- Detalle de la quincena -->
            {% call detail.card(title='Detalle', estatus=quincena.estatus) %}
                {{ detail.label_value('Estado', quincena.estado) }}
                {{ detail.label_value('Creado', moment(quincena.creado, local=True).format('DD MMM YYYY')) }}
            {% endcall %}
        </div>
        <div class="col-4">
            <!-- Generar nominas -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title"><span class="iconify" data-icon="mdi:cash-fast"></span> Nóminas</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><span class="iconify" data-icon="mdi:cash-fast"></span> Nóminas 2023-09-27 15:30</li>
                        <li><span class="iconify" data-icon="mdi:cash-fast"></span> Nóminas 2023-09-27 13:40</li>
                        <li><span class="iconify" data-icon="mdi:cash-fast"></span> Nóminas 2023-09-26 10:20</li>
                    </ul>
                    {{ modals.button_modal_big('Generar ' + quincena.quincena, url_for('nominas.generate_nominas', quincena_str=quincena.quincena), 'GenerateNominas', 'mdi:cash-fast', "¿Necesita generar un nuevo XLSX para nóminas?") }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Generar monederos -->
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title"><span class="iconify" data-icon="mdi:cart"></span> Monederos</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><span class="iconify" data-icon="mdi:cart"></span> Monederos2023-09-27 15:30</li>
                        <li><span class="iconify" data-icon="mdi:cart"></span> Monederos2023-09-27 13:40</li>
                    </ul>
                    {{ modals.button_modal_big('Generar ' + quincena.quincena, url_for('nominas.generate_monederos', quincena_str=quincena.quincena), 'GenerateMonederos', 'mdi:cart', "¿Necesita generar un nuevo XLSX para monederos?") }}
                </div>
            </div>
        </div>
    </div>
    <!-- Nominas de la Quincena -->
    {% if current_user.can_view('NOMINAS') %}
        {% call detail.card('Nómina ' + quincena.quincena) %}
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosNominas.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaRFC" type="text" class="form-control" aria-label="RFC" style="text-transform: uppercase;">
                                <label for="filtroPersonaRFC">RFC</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                                <label for="filtroPersonaNombres">Nombres</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoPrimero" type="text" class="form-control" aria-label="Apellido primero" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoPrimero">Primer apellido</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoSegundo" type="text" class="form-control" aria-label="Apellido segundo" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoSegundo">Segundo apellido</label>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosNominas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosNominas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <table id="nominas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th>Percepcion</th>
                        <th>Deduccion</th>
                        <th style="text-align:right">Importe</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Nominas -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('NOMINAS') %}
        <script>
            // Datatable Nominas
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDataTable = constructorDataTable.config();
            configDataTable['ajax']['url'] = '/nominas/datatable_json';
            configDataTable['ajax']['data'] = { estatus: 'A', quincena: '{{ quincena.quincena }}' };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'persona_rfc' },
                { data: 'persona_nombre_completo' },
                { data: 'percepcion' },
                { data: 'deduccion' },
                { data: 'importe' },
                { data: 'tipo' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [3, 4, 5], // percepcion, deduccion, importe
                    render: $.fn.dataTable.render.number( ',', '.', 4, '$\t' ),
                    className: "dt-body-right",
                }
            ];
            // Filtros Nominas
            const filtrosNominas = new FiltrosDataTable('#nominas_datatable', configDataTable);
            filtrosNominas.agregarInput('filtroPersonaRFC', 'persona_rfc');
            filtrosNominas.agregarInput('filtroPersonaNombres', 'persona_nombres');
            filtrosNominas.agregarInput('filtroPersonaApellidoPrimero', 'persona_apellido_primero');
            filtrosNominas.agregarInput('filtroPersonaApellidoSegundo', 'persona_apellido_segundo');
            filtrosNominas.precargar();
        </script>
    {% endif %}
    <!-- Modales -->
    {{ modals.custom_javascript('Generar Nóminas', '', 'GenerateNominas') }}
    {{ modals.custom_javascript('Generar Monederos', '', 'GenerateMonederos') }}
    {% if current_user.can_admin('QUINCENA') %}
        {% if quincena.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + quincena.quincena + '?') }}{% endif %}
        {% if quincena.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + quincena.quincena + '?') }}{% endif %}
    {% endif %}
    <!-- Moment.js -->
    {{ detail.moment_js(moment) }}
{% endblock %}
