{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Quincena {{ quincena.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Quincena ' + quincena.clave) %}
        {{ topbar.button_previous('Quincenas', url_for('quincenas.list_active')) }}
        {% if current_user.can_edit('QUINCENAS') %}
            {{ topbar.button_edit('Editar', url_for('quincenas.edit', quincena_id=quincena.id)) }}
        {% endif %}
        {% if current_user.can_admin('QUINCENAS') %}
            {{ modals.button_modal('Cerrar Quincenas', url_for('quincenas.close'), 'Close', 'mdi:stop', "¿Está seguro de cerrar todas las quincenas abiertas?") }}
            {% if quincena.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('quincenas.delete', quincena_id=quincena.id)) }}{% endif %}
            {% if quincena.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('quincenas.recover', quincena_id=quincena.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Detalle de la quincena #}
    {% call detail.card(title='Detalle', estatus=quincena.estatus) %}
        {{ detail.label_value('Quincena', quincena.clave) }}
        {{ detail.label_value('Estado', quincena.estado) }}
        {{ detail.label_value('Creado', moment(quincena.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    {# Vinculos para descargar los productos de la ultima quincena #}
    {% call detail.card(title='Descargar últimos productos') %}
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-center">Nominas</h4>
                {% if quincena_producto_nominas %}
                <a href="{{ quincena_producto_nominas.url }}" class="btn btn-success btn-block w-100" target="_blank">
                    <span class="iconify" data-icon="mdi:cash-fast" style="font-size: 2.4em; margin-right: 4px;"></span>
                    {{ moment(quincena_producto_nominas.creado, local=True).format('DD MMM YYYY hh:mm') }}
                </a>
                {% else %}
                <p class="lead text-center">No hay archivo</p>
                {% endif %}
            </div>
            <div class="col-md-3">
                <h4 class="text-center">Monederos</h4>
                {% if quincena_producto_monederos %}
                <a href="{{ quincena_producto_monederos.url }}" class="btn btn-success btn-block w-100" target="_blank">
                    <span class="iconify" data-icon="mdi:cart" style="font-size: 2.4em; margin-right: 4px;"></span>
                    {{ moment(quincena_producto_monederos.creado, local=True).format('DD MMM YYYY hh:mm') }}
                </a>
                {% else %}
                <p class="lead text-center">No hay archivo</p>
                {% endif %}
            </div>
            <div class="col-md-3">
                <h4 class="text-center">Pensionados</h4>
                {% if quincena_producto_pensionados %}
                <a href="{{ quincena_producto_pensionados.url }}" class="btn btn-success btn-block w-100" target="_blank">
                    <span class="iconify" data-icon="mdi:human-female-boy" style="font-size: 2.4em; margin-right: 4px;"></span>
                    {{ moment(quincena_producto_pensionados.creado, local=True).format('DD MMM YYYY hh:mm') }}
                </a>
                {% else %}
                <p class="lead text-center">No hay archivo</p>
                {% endif %}
            </div>
            <div class="col-md-3">
                <h4 class="text-center">Dispersiones Pensionados</h4>
                {% if quincena_producto_dispersiones_pensionados %}
                <a href="{{ quincena_producto_dispersiones_pensionados.url }}" class="btn btn-success btn-block w-100" target="_blank">
                    <span class="iconify" data-icon="mdi:human-wheelchair" style="font-size: 2.4em; margin-right: 4px;"></span>
                    {{ moment(quincena_producto_dispersiones_pensionados.creado, local=True).format('DD MMM YYYY hh:mm') }}
                </a>
                {% else %}
                <p class="lead text-center">No hay archivo</p>
                {% endif %}
            </div>
        </div>
    {% endcall %}
    {# Botones para generar los productos #}
    {% if quincena.estado == 'ABIERTA' %}
        {% call detail.card(title='Generar productos') %}
            <div class="row">
                <div class="col-md-3">
                    <h4 class="text-center">Nominas</h4>
                        {{ modals.button_modal_big(
                        quincena.clave,
                        url_for('quincenas.generate_nominas', quincena_id=quincena.id),
                        'GenerateNominas',
                        'mdi:cash-fast',
                        "¿Necesita generar un nuevo XLSX para nóminas?") }}
                </div>
                <div class="col-md-3">
                    <h4 class="text-center">Monederos</h4>
                        {{ modals.button_modal_big(
                        quincena.clave,
                        url_for('quincenas.generate_monederos', quincena_id=quincena.id),
                        'GenerateMonederos',
                        'mdi:cart',
                        "¿Necesita generar un nuevo XLSX para monederos?") }}
                </div>
                <div class="col-md-3">
                    <h4 class="text-center">Pensionados</h4>
                        {{ modals.button_modal_big(
                        quincena.clave,
                        url_for('quincenas.generate_pensionados', quincena_id=quincena.id),
                        'GeneratePensionados',
                        'mdi:human-female-boy',
                        "¿Necesita generar un nuevo XLSX para pensionados?") }}
                </div>
                <div class="col-md-3">
                    <h4 class="text-center">Dispersiones Pensionados</h4>
                        {{ modals.button_modal_big(
                        quincena.clave,
                        url_for('quincenas.generar_dispersiones_pensionados', quincena_id=quincena.id),
                        'GenerateDispersionesPensionados',
                        'mdi:human-wheelchair',
                        "¿Necesita generar un nuevo XLSX para dispersiones pensionados?") }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h4 class="text-center">Generar todos</h4>
                        {{ modals.button_modal_big(
                        'Todos ' + quincena.clave,
                        url_for('quincenas.generar_todos', quincena_id=quincena.id),
                        'GenerateTodos',
                        'mdi:file-multiple',
                        "Se reiniciarán los consecutivos temporales, se crearán todos los XLSX en orden y se conservarán los números de cheques. ¿Está seguro?") }}
                </div>
            </div>
        {% endcall %}
    {% endif %}
    {# Datatable con las nominas de la Quincena #}
    {% if current_user.can_view('NOMINAS') %}
        {% call detail.card('Nómina ' + quincena.clave) %}
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosNominas.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaRFC" type="text" class="form-control" aria-label="RFC" style="text-transform: uppercase;">
                                <label for="filtroPersonaRFC">RFC</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                                <label for="filtroPersonaNombres">Nombres</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoPrimero" type="text" class="form-control" aria-label="Apellido primero" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoPrimero">Primer apellido</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoSegundo" type="text" class="form-control" aria-label="Apellido segundo" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoSegundo">Segundo apellido</label>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosNominas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosNominas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <table id="nominas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th style="text-align:right">Percepcion</th>
                        <th style="text-align:right">Deduccion</th>
                        <th style="text-align:right">Importe</th>
                        <th>Tipo</th>
                        <th>No. Cheque</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Constructor de DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Nominas en la Quincena-->
    {% if current_user.can_view('NOMINAS') %}
        <script>
            // DataTable Nominas
            let configDTNominas = constructorDataTable.config();
            configDTNominas['ajax']['url'] = '/nominas/datatable_json';
            configDTNominas['ajax']['data'] = { 'estatus': "A", 'quincena_id': {{ quincena.id }} };
            configDTNominas['columns'] = [
                { data: 'detalle' },
                { data: 'persona_rfc' },
                { data: 'persona_nombre_completo' },
                { data: 'percepcion' },
                { data: 'deduccion' },
                { data: 'importe' },
                { data: 'tipo' },
                { data: 'num_cheque' }
            ];
            configDTNominas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [3, 4, 5], // percepcion, deduccion, importe
                    render: $.fn.dataTable.render.number( ',', '.', 4, '$\t' ),
                    className: "dt-body-right",
                }
            ];
            // Filtros Nominas
            const filtrosNominas = new FiltrosDataTable('#nominas_datatable', configDTNominas);
            filtrosNominas.agregarInput('filtroPersonaRFC', 'persona_rfc');
            filtrosNominas.agregarInput('filtroPersonaNombres', 'persona_nombres');
            filtrosNominas.agregarInput('filtroPersonaApellidoPrimero', 'persona_apellido_primero');
            filtrosNominas.agregarInput('filtroPersonaApellidoSegundo', 'persona_apellido_segundo');
            filtrosNominas.precargar();
        </script>
    {% endif %}
    <!-- Modales -->
    {{ modals.custom_javascript('Cerrar Quincenas', '', 'Close') }}
    {{ modals.custom_javascript('Generar Nóminas', '', 'GenerateNominas') }}
    {{ modals.custom_javascript('Generar Monederos', '', 'GenerateMonederos') }}
    {{ modals.custom_javascript('Generar Pensionados', '', 'GeneratePensionados') }}
    {{ modals.custom_javascript('Generar Dispersiones Pensionados', '', 'GenerateDispersionesPensionados') }}
    {{ modals.custom_javascript('Generar Todos', '', 'GenerateTodos') }}
    {% if current_user.can_admin('QUINCENA') %}
        {% if quincena.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + quincena.clave + '?') }}{% endif %}
        {% if quincena.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + quincena.clave + '?') }}{% endif %}
    {% endif %}
    <!-- Moment.js -->
    {{ detail.moment_js(moment) }}
{% endblock %}
