{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Persona + {{ persona.rfc }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Persona ' + persona.rfc) %}
        {{ topbar.button_previous('Personas', url_for('personas.list_active')) }}
        {% if current_user.can_edit('PERSONAS') %}
            {{ topbar.button_edit('Editar', url_for('personas.edit', persona_id=persona.id)) }}
        {% endif %}
        {% if current_user.can_admin('PERSONAS') %}
            {% if persona.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('personas.delete', persona_id=persona.id)) }}{% endif %}
            {% if persona.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('personas.recover', persona_id=persona.id)) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('PERCEPCIONES DEDUCCIONES') %}
            {{ topbar.button_new('Nueva Percepción-Deducción', url_for('percepciones_deducciones.new_with_persona', persona_id=persona.id)) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=persona.estatus) %}
        {{ detail.label_value_big('RFC', persona.rfc) }}
        {{ detail.label_value('Nombres', persona.nombres) }}
        {{ detail.label_value('Apellido primero', persona.apellido_primero) }}
        {{ detail.label_value('Apellido segundo', persona.apellido_segundo) }}
        {{ detail.label_value('CURP', persona.curp) }}
        {{ detail.label_value('No. empleado', persona.num_empleado) }}
        {{ detail.label_value('Modelo', persona.modelo) }}
        {{ detail.label_value('Creado', moment(persona.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    {% if current_user.can_view('PERCEPCIONES DEDUCCIONES') %}
        {% call detail.card('Percepciones-Deducciones') %}
            <!-- Filtros percepciones-deducciones -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosPercepcionesDeducciones.buscar(); return false;">
                        <div class="col-3">
                            <div class="form-floating">
                                <input id="filtroQuincena" type="text" class="form-control" aria-label="Quincena" style="text-transform: uppercase;">
                                <label for="filtroQuincena">Quincena</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-floating">
                                <input id="filtroConceptoClave" type="text" class="form-control" aria-label="Concepto" style="text-transform: uppercase;">
                                <label for="filtroConceptoClave">Concepto</label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosPercepcionesDeducciones.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosPercepcionesDeducciones.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Datatable percepciones-deducciones -->
            <table id="percepciones_deducciones_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Centro de trabajo</th>
                        <th>Concepto</th>
                        <th>Plaza</th>
                        <th>Quincena</th>
                        <th>Importe</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {% if current_user.can_view('CUENTAS') %}
        {% call detail.card('Cuentas') %}
            <!-- Datatable cuentas -->
            <table id="cuentas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Banco</th>
                        <th>No. de cuenta</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if current_user.can_view('CUENTAS') %}
        <script>
            const constructorDataTableCuentas = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDataTableCuentas = constructorDataTableCuentas.config();
            configDataTableCuentas['ajax']['url'] = '/cuentas/datatable_json';
            configDataTableCuentas['ajax']['data'] = { estatus: 'A', persona_id: {{ persona.id }} };
            configDataTableCuentas['columns'] = [
                { data: 'detalle' },
                { data: 'banco_nombre' },
                { data: 'num_cuenta' }
            ];
            configDataTableCuentas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            $('#cuentas_datatable').DataTable(configDataTableCuentas);
        </script>
    {% endif %}
    {% if current_user.can_view('PERCEPCIONES DEDUCCIONES') %}
        <script>
            // Datatable percepciones-deducciones
            const constructorDataTablePD = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDataTablePD = constructorDataTablePD.config();
            configDataTablePD['ajax']['url'] = '/percepciones_deducciones/datatable_json';
            configDataTablePD['ajax']['data'] = { estatus: 'A', persona_id: {{ persona.id }} };
            configDataTablePD['columns'] = [
                { data: 'detalle' },
                { data: 'centro_trabajo_clave' },
                { data: 'concepto_clave' },
                { data: 'plaza_clave' },
                { data: 'quincena' },
                { data: 'importe' }
            ];
            configDataTablePD['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            // Filtros percepciones-deducciones
            const filtrosPercepcionesDeducciones = new FiltrosDataTable('#percepciones_deducciones_datatable', configDataTablePD);
            //filtrosPercepcionesDeducciones.agregarInput('filtroConceptoClave', 'concepto_clave');
            //filtrosPercepcionesDeducciones.agregarInput('filtroQuincena', 'quincena');
            //filtrosPercepcionesDeducciones.agregarConstante('estatus', 'A');
            //filtrosPercepcionesDeducciones.agregarConstante('persona_id', {{ persona.id }});
            filtrosPercepcionesDeducciones.precargar();
        </script>
    {% endif %}
    {% if current_user.can_admin('PERSONAS') %}
        {% if persona.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + persona.rfc + '?') }}{% endif %}
        {% if persona.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + persona.rfc + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
