{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Persona {{ persona.rfc }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Persona ' + persona.rfc) %}
        {{ topbar.button_previous('Personas', url_for('personas.list_active')) }}
        {% if current_user.can_edit('PERSONAS') %}
            {{ topbar.button_edit('Editar', url_for('personas.edit', persona_id=persona.id)) }}
        {% endif %}
        {% if current_user.can_admin('PERSONAS') %}
            {% if persona.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('personas.delete', persona_id=persona.id)) }}{% endif %}
            {% if persona.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('personas.recover', persona_id=persona.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Detalle de la persona -->
    {% call detail.card(estatus=persona.estatus) %}
        {{ detail.label_value_big('RFC', persona.rfc) }}
        {{ detail.label_value('Nombres', persona.nombres) }}
        {{ detail.label_value('Apellido primero', persona.apellido_primero) }}
        {{ detail.label_value('Apellido segundo', persona.apellido_segundo) }}
        {{ detail.label_value('CURP', persona.curp) }}
        {{ detail.label_value('No. empleado', persona.num_empleado) }}
        {% set tabulador_str = 'Puesto ' + persona.tabulador.puesto.clave + ', ' %}
        {% set tabulador_str = tabulador_str + 'Modelo ' + persona.tabulador.modelo | string + ', ' %}
        {% set tabulador_str = tabulador_str + 'Nivel ' + persona.tabulador.nivel | string + ', ' %}
        {% set tabulador_str = tabulador_str + 'Quinquenio ' + persona.tabulador.quinquenio | string %}
        {% if current_user.can_view('TABULADORES') %}
            {{ detail.label_value('Tabulador', tabulador_str, url_for('tabuladores.detail', tabulador_id=persona.tabulador.id)) }}
        {% else %}
            {{ detail.label_value('Tabulador', tabulador_str) }}
        {% endif %}
        {{ detail.label_value('Modelo', persona.modelo) }}
        {{ detail.label_value('Fecha de ingreso gobierno', persona.ingreso_gobierno_fecha) }}
        {{ detail.label_value('Fecha de ingreso P.J.', persona.ingreso_pj_fecha) }}
        {{ detail.label_value('Fecha de nacimiento', persona.nacimiento_fecha) }}
        {{ detail.label_value('Código Postal fiscal', persona.codigo_postal_fiscal) }}
        {{ detail.label_value('Creado', moment(persona.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    <!-- Cuentas de la persona -->
    {% if current_user.can_view('CUENTAS') %}
        {% call detail.card('Cuentas') %}
            <table id="cuentas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Banco</th>
                        <th>No. de cuenta</th>
                    </tr>
                </thead>
            </table>
            {% if current_user.can_insert('CUENTAS') %}
            <a href="{{ url_for('cuentas.new_with_persona', persona_id=persona.id) }}" class="btn btn-primary">Agregar</a>
            {% endif %}
        {% endcall %}
    {% endif %}
    <!-- Nominas de la persona -->
    {% if current_user.can_view('NOMINAS') %}
        {% call detail.card('Nominas') %}
            <table id="nominas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Quincena</th>
                        <th style="text-align:right">Percepcion</th>
                        <th style="text-align:right">Deduccion</th>
                        <th style="text-align:right">Importe</th>
                        <th>Tipo</th>
                        <th>No. Cheque</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.config_datatable() }}
    <!-- Cuentas de la persona -->
    {% if current_user.can_view('CUENTAS') %}
        <script>
            const constructorDataTableCuentas = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDataTableCuentas = constructorDataTableCuentas.config();
            configDataTableCuentas['ajax']['url'] = '/cuentas/datatable_json';
            configDataTableCuentas['ajax']['data'] = { estatus: 'A', persona_id: {{ persona.id }} };
            configDataTableCuentas['columns'] = [
                { data: 'detalle' },
                { data: 'banco_nombre' },
                { data: 'num_cuenta' }
            ];
            configDataTableCuentas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            $('#cuentas_datatable').DataTable(configDataTableCuentas);
        </script>
    {% endif %}
    <!-- Nominas de la persona -->
    {% if current_user.can_view('NOMINAS') %}
        <script>
            configDataTable['ajax']['url'] = '/nominas/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'persona_id': {{ persona.id}} };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'quincena_clave' },
                { data: 'percepcion' },
                { data: 'deduccion' },
                { data: 'importe' },
                { data: 'tipo' },
                { data: 'num_cheque' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [2, 3, 4], // percepcion, deduccion, importe
                    render: $.fn.dataTable.render.number( ',', '.', 4, '$\t' ),
                    className: "dt-body-right",
                }
            ];
            $('#nominas_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    <!-- Modales -->
    {% if current_user.can_admin('PERSONAS') %}
        {% if persona.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + persona.rfc + '?') }}{% endif %}
        {% if persona.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + persona.rfc + '?') }}{% endif %}
    {% endif %}
    <!-- Moment.js -->
    {{ detail.moment_js(moment) }}
{% endblock %}
