{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Persona {{ persona.rfc }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar Persona ' + persona.rfc) %}
        {{ topbar.button_cancel() }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_id': persona.id} %}
        {% call f.form_tag('personas.edit', fid='persona_form', **form_kwargs) %}
            <div class="row">
                <div class="col-md-6">
                    {% call f.form_group(form.rfc) %}{% endcall %}
                    {% call f.form_group(form.nombres) %}{% endcall %}
                    {% call f.form_group(form.apellido_primero) %}{% endcall %}
                    {% call f.form_group(form.apellido_segundo) %}{% endcall %}
                    {% call f.form_group(form.curp) %}{% endcall %}
                    {% call f.form_group(form.nacimiento_fecha) %}{% endcall %}
                    {% call f.form_group(form.codigo_postal_fiscal) %}{% endcall %}
                    {% call f.form_group(form.ultimo_centro_trabajo, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.ultimo_plaza, readonly=true) %}{% endcall %}
                    {% call f.form_group(form.ultimo_puesto, readonly=true) %}{% endcall %}
                </div>
                <div class="col-md-6">
                    {% call f.form_group(form.num_empleado) %}{% endcall %}
                    {% call f.form_group(form.seguridad_social) %}{% endcall %}
                    {% call f.form_group(form.ingreso_gobierno_fecha) %}{% endcall %}
                    {% call f.form_group(form.ingreso_pj_fecha) %}{% endcall %}
                    {% call f.form_group(form.modelo) %}{% endcall %}
                    {% call f.form_group(form.sub_sis) %}{% endcall %}
                    {% call f.form_group(form.nivel) %}{% endcall %}
                    {% call f.form_group(form.puesto_equivalente) %}{% endcall %}
                </div>
            </div>
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
