{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar quincena {{ beneficiario_quincena.quincena.clave }} de {{ beneficiario_quincena.beneficiario.rfc }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar quincena ' + beneficiario_quincena.quincena.clave + ' de ' + beneficiario_quincena.beneficiario.rfc) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'beneficiario_quincena_id': beneficiario_quincena.id} %}
        {% call f.form_tag('beneficiarios_quincenas.edit', fid='beneficiario_quincena_form', **form_kwargs) %}
            {% call f.form_group(form.quincena_clave, readonly=true) %}{% endcall %}
            {% call f.form_group(form.beneficiario_rfc, readonly=true) %}{% endcall %}
            {% call f.form_group(form.beneficiario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.importe) %}{% endcall %}
            {% call f.form_group(form.num_cheque, readonly=true) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
