{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Plataforma Perseo{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Plataforma Perseo') }}
{% endblock %}

{% block content %}
    {# Detalle de la ultima quincena #}
    {% call detail.card(title='Última quincena') %}
        {% if quincena %}
            {{ detail.label_value_big('Quincena', quincena.clave, url_for('quincenas.detail', quincena_id=quincena.id)) }}
            {{ detail.label_value('Estado', quincena.estado) }}
            {# detail.label_value('Creado', moment(quincena.creado, local=True).format('llll')) #}
        {% else %}
            <p class="lead text-center">No hay una última quincena</p>
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Moment.js -->
    {{ detail.moment_js(moment) }}
{% endblock %}
