{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Quincena {{ quincena.clave }}{% endblock %}

{% block custom_head %}
    {{ moment.include_moment() }}
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Quincena ' + quincena.clave) %}
        {{ topbar.button_previous('Quincenas', url_for('quincenas.list_active')) }}
        {% if current_user.can_edit('QUINCENAS') %}
            {{ topbar.button_edit('Editar', url_for('quincenas.edit', quincena_id=quincena.id)) }}
        {% endif %}
        {% if current_user.can_admin('QUINCENAS') %}
            {% if quincena.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('quincenas.delete', quincena_id=quincena.id)) }}{% endif %}
            {% if quincena.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('quincenas.recover', quincena_id=quincena.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {# Detalle de la quincena y generar archivos finales #}
    <div class="row mb-2">
        <div class="col-md-6">
            {# Detalle de la quincena #}
            {% call detail.card(title='Detalle', estatus=quincena.estatus) %}
                {{ detail.label_value('Quincena', quincena.clave) }}
                {{ detail.label_value('Estado', quincena.estado) }}
                {{ detail.label_value_boolean('Tiene aguinaldos', quincena.tiene_aguinaldos) }}
                {{ detail.label_value_boolean('Tiene apoyos anuales', quincena.tiene_apoyos_anuales) }}
                {{ detail.label_value_boolean('Tiene primas vacacionales', quincena.tiene_primas_vacacionales) }}
            {% endcall %}
        </div>
        {% if current_user.can_insert('QUINCENAS PRODUCTOS') %}
        <div class="col-md-6">
            {# Generar todos los archivos #}
            {% call detail.card(title='Generar archivos finales') %}
                {% if quincena.estado == 'ABIERTA' %}
                    <ol>
                        <li>Se cambiarán los consecutivos temporales de los Bancos a los consecutivos</li>
                        <li>Se generará Nóminas XLSX</li>
                        <li>Se generará Monederos XLSX</li>
                        <li>Se generará Pensionados XLSX</li>
                        <li>Y se guardarán los números de cheques en Nóminas</li>
                    </ol>
                    {{ modals.button_modal_xl(
                        'Generar archivos finales',
                        url_for('quincenas.generate_todos', quincena_id=quincena.id),
                        'GenerateTodos',
                        'mdi mdi-file-multiple',
                        "Se reiniciarán los consecutivos temporales, se crearán todos los XLSX en orden y se conservarán los números de cheques. ¿Está seguro?")
                    }}
                {% else %}
                    <p class="lead text-center">No se puden generar archivos porque la quincena esta cerrada.</p>
                {% endif %}
            {% endcall %}
        </div>
        {% endif %}
    </div>
    {# Generar, descargar y eliminar los productos de la quincena #}
    <div class="row mb-2">
        {# Dispersion de Nóminas #}
        <div class="col-md-3">
            {% set title = '<span class="iconify" data-icon="mdi mdi-credit-card"></span> Nóminas' %}
            {% if quincena_producto_nominas %}
                {% if quincena_producto_nominas.es_satisfactorio %}
                    {% set border_class='border-success' %}
                    {% set text_class='text-success' %}
                {% else %}
                    {% set border_class='border-danger' %}
                    {% set text_class='text-danger' %}
                {% endif %}
                {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                    <ul>
                        {% if quincena_producto_nominas.mensajes %}
                            {% set list = quincena_producto_nominas.mensajes.split("\n") %}
                            {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                        {% endif %}
                        <li>{{ moment(quincena_producto_nominas.creado).format('DD MMM YYYY HH:mm') }}</li>
                    </ul>
                    {% if quincena_producto_nominas.url %}
                        {{ detail.button_md(
                            label='Descargar XLSX',
                            url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_nominas.id),
                            icon='mdi mdi-download',
                            target='_blank')
                        }}
                    {% endif %}
                    {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_sm(
                            label='Eliminar',
                            url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_nominas.id),
                            id='DeleteNominas',
                            icon='mdi mdi-delete',
                            message="¿Eliminar el archivo XLSX para nóminas?",
                            color_class='btn-outline-danger')
                        }}
                    {% endif %}
                {% endcall %}
            {% else %}
                {% call detail.card(title=title) %}
                    <p class="lead text-center">No hay archivo</p>
                    {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_md(
                            label='Generar XLSX',
                            url=url_for('quincenas.generate_nominas', quincena_id=quincena.id),
                            id='GenerateNominas',
                            icon='mdi mdi-play',
                            message="¿Generar un nuevo archivo XLSX para nóminas?",
                            color_class='btn-outline-success')
                        }}
                    {% endif %}
                {% endcall %}
            {% endif %}
        </div>
        {# Dispersion de Monederos #}
        <div class="col-md-3">
            {% set title = '<span class="iconify" data-icon="mdi mdi-cart"></span> Monederos' %}
            {% if quincena_producto_monederos %}
                {% if quincena_producto_monederos.es_satisfactorio %}
                    {% set border_class='border-success' %}
                    {% set text_class='text-success' %}
                {% else %}
                    {% set border_class='border-danger' %}
                    {% set text_class='text-danger' %}
                {% endif %}
                {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                    <ul>
                        {% if quincena_producto_monederos.mensajes %}
                            {% set list = quincena_producto_monederos.mensajes.split("\n") %}
                            {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                        {% endif %}
                        <li>{{ moment(quincena_producto_monederos.creado).format('DD MMM YYYY HH:mm') }}</li>
                    </ul>
                    {% if quincena_producto_monederos.url %}
                        {{ detail.button_md(
                            label='Descargar XLSX',
                            url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_monederos.id),
                            icon='mdi mdi-download',
                            target='_blank')
                        }}
                    {% endif %}
                    {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_sm(
                            label='Eliminar',
                            url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_monederos.id),
                            id='DeleteMonederos',
                            icon='mdi mdi-delete',
                            message="¿Eliminar el archivo XLSX para monederos?",
                            color_class='btn-outline-danger')
                        }}
                    {% endif %}
                {% endcall %}
            {% else %}
                {% call detail.card(title=title) %}
                    <p class="lead text-center">No hay archivo</p>
                    {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_md(
                            label='Generar XLSX',
                            url=url_for('quincenas.generate_monederos', quincena_id=quincena.id),
                            id='GenerateMonederos',
                            icon='mdi mdi-play',
                            message="¿Generar un nuevo archivo XLSX para monederos?",
                            color_class='btn-outline-success')
                        }}
                    {% endif %}
                {% endcall %}
            {% endif %}
        </div>
        {# Dispersion de Pensionados #}
        <div class="col-md-3">
            {% set title = '<span class="iconify" data-icon="mdi mdi-human-female-boy"></span> Pensionados' %}
            {% if quincena_producto_pensionados %}
                {% if quincena_producto_pensionados.es_satisfactorio %}
                    {% set border_class='border-success' %}
                    {% set text_class='text-success' %}
                {% else %}
                    {% set border_class='border-danger' %}
                    {% set text_class='text-danger' %}
                {% endif %}
                {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                    <ul>
                        {% if quincena_producto_pensionados.mensajes %}
                            {% set list = quincena_producto_pensionados.mensajes.split("\n") %}
                            {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                        {% endif %}
                        <li>{{ moment(quincena_producto_pensionados.creado).format('DD MMM YYYY HH:mm') }}</li>
                    </ul>
                    {% if quincena_producto_pensionados.url %}
                        {{ detail.button_md(
                            label='Descargar XLSX',
                            url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_pensionados.id),
                            icon='mdi mdi-download',
                            target='_blank')
                        }}
                    {% endif %}
                    {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_sm(
                            label='Eliminar',
                            url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_pensionados.id),
                            id='DeletePensionados',
                            icon='mdi mdi-delete',
                            message="¿Eliminar el archivo XLSX para pensionados?",
                            color_class='btn-outline-danger')
                        }}
                    {% endif %}
                {% endcall %}
            {% else %}
                {% call detail.card(title=title) %}
                    <p class="lead text-center">No hay archivo</p>
                    {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_md(
                            label='Generar XLSX',
                            url=url_for('quincenas.generate_pensionados', quincena_id=quincena.id),
                            id='GeneratePensionados',
                            icon='mdi mdi-play',
                            message="¿Generar un nuevo archivo XLSX para pensionados?",
                            color_class='btn-outline-success')
                        }}
                    {% endif %}
                {% endcall %}
            {% endif %}
        </div>
        {# Dispersion de Primas Vacacionales #}
        {% if quincena.tiene_primas_vacacionales %}
            <div class="col-md-3">
                {% set title = '<span class="iconify" data-icon="mdi mdi-beach"></span> Primas Vacacionales' %}
                {% if quincena_producto_primas_vacacionales %}
                    {% if quincena_producto_primas_vacacionales.es_satisfactorio %}
                        {% set border_class='border-success' %}
                        {% set text_class='text-success' %}
                    {% else %}
                        {% set border_class='border-danger' %}
                        {% set text_class='text-danger' %}
                    {% endif %}
                    {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                        <ul>
                            {% if quincena_producto_primas_vacacionales.mensajes %}
                                {% set list = quincena_producto_primas_vacacionales.mensajes.split("\n") %}
                                {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                            {% endif %}
                            <li>{{ moment(quincena_producto_primas_vacacionales.creado).format('DD MMM YYYY HH:mm') }}</li>
                        </ul>
                        {% if quincena_producto_primas_vacacionales.url %}
                            {{ detail.button_md(
                                label='Descargar XLSX',
                                url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_primas_vacacionales.id),
                                icon='mdi mdi-download',
                                target='_blank')
                            }}
                        {% endif %}
                        {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                            {{ modals.button_modal_sm(
                                label='Eliminar',
                                url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_primas_vacacionales.id),
                                id='DeletePrimasVacacionales',
                                icon='mdi mdi-delete',
                                message="¿Eliminar el archivo XLSX para primas vacacionales?",
                                color_class='btn-outline-danger')
                            }}
                        {% endif %}
                    {% endcall %}
                {% else %}
                    {% call detail.card(title=title) %}
                        <p class="lead text-center">No hay archivo</p>
                        {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                            {{ modals.button_modal_md(
                                label='Generar XLSX',
                                url=url_for('quincenas.generate_primas_vacacionales', quincena_id=quincena.id),
                                id='GeneratePrimasVacacionales',
                                icon='mdi mdi-play',
                                message="¿Generar un nuevo archivo XLSX para primas vacacionales?",
                                color_class='btn-outline-success')
                            }}
                        {% endif %}
                    {% endcall %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {# Generar, descargar y eliminar timbrados #}
    <div class="row mb-2">
        {# Timbrados de Empleados Activos #}
        {% set title = '<span class="iconify" data-icon="mdi mdi-file-document"></span> Timbrados de Empleados Activos' %}
        {% if quincena_producto_timbrados_empleados_activos %}
            <div class="col-md-3">
                {% if quincena_producto_timbrados_empleados_activos.es_satisfactorio %}
                    {% set border_class='border-success' %}
                    {% set text_class='text-success' %}
                {% else %}
                    {% set border_class='border-danger' %}
                    {% set text_class='text-danger' %}
                {% endif %}
                {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                    <ul>
                        {% if quincena_producto_timbrados_empleados_activos.mensajes %}
                            {% set list = quincena_producto_timbrados_empleados_activos.mensajes.split("\n") %}
                            {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                        {% endif %}
                        <li>{{ moment(quincena_producto_timbrados_empleados_activos.creado).format('DD MMM YYYY HH:mm') }}</li>
                    </ul>
                    {% if quincena_producto_timbrados_empleados_activos.url %}
                        {{ detail.button_md(
                            label='Descargar XLSX',
                            url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_timbrados_empleados_activos.id),
                            icon='mdi mdi-download',
                            target='_blank')
                        }}
                    {% endif %}
                    {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_sm(
                            label='Eliminar',
                            url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_timbrados_empleados_activos.id),
                            id='DeleteTimbradosEmpleadosActivos',
                            icon='mdi mdi-delete',
                            message="¿Eliminar el archivo XLSX para timbrados de empleados activos?",
                            color_class='btn-outline-danger')
                        }}
                    {% endif %}
                {% endcall %}
            </div>
        {% else %}
            <div class="col-md-3">
                {% call detail.card(title=title) %}
                    <p class="lead text-center">No hay archivo</p>
                    {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_md(
                            label='Generar XLSX empleados activos',
                            url=url_for('quincenas.generate_timbrados_empleados_activos', quincena_id=quincena.id),
                            id='GenerateTimbradosEmpleadosActivos',
                            icon='mdi mdi-play',
                            message="¿Generar un nuevo archivo XLSX para timbrados de empleados activos?",
                            color_class='btn-outline-success')
                        }}
                    {% endif %}
                {% endcall %}
            </div>
        {% endif %}
        {# Timbrados de Pensionados #}
        {% set title = '<span class="iconify" data-icon="mdi mdi-file-document"></span> Timbrados de Pensionados' %}
        {% if quincena_producto_timbrados_pensionados %}
            <div class="col-md-3">
                {% if quincena_producto_timbrados_pensionados.es_satisfactorio %}
                    {% set border_class='border-success' %}
                    {% set text_class='text-success' %}
                {% else %}
                    {% set border_class='border-danger' %}
                    {% set text_class='text-danger' %}
                {% endif %}
                {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                    <ul>
                        {% if quincena_producto_timbrados_pensionados.mensajes %}
                            {% set list = quincena_producto_timbrados_pensionados.mensajes.split("\n") %}
                            {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                        {% endif %}
                        <li>{{ moment(quincena_producto_timbrados_pensionados.creado).format('DD MMM YYYY HH:mm') }}</li>
                    </ul>
                    {% if quincena_producto_timbrados_pensionados.url %}
                        {{ detail.button_md(
                            label='Descargar XLSX',
                            url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_timbrados_pensionados.id),
                            icon='mdi mdi-download',
                            target='_blank')
                        }}
                    {% endif %}
                    {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_sm(
                            label='Eliminar',
                            url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_timbrados_pensionados.id),
                            id='DeleteTimbradosPensionados',
                            icon='mdi mdi-delete',
                            message="¿Eliminar el archivo XLSX para timbrados de pensionados?",
                            color_class='btn-outline-danger')
                        }}
                    {% endif %}
                {% endcall %}
            </div>
        {% else %}
            <div class="col-md-3">
                {% call detail.card(title=title) %}
                    <p class="lead text-center">No hay archivo</p>
                    {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                        {{ modals.button_modal_md(
                            label='Generar XLSX pensionados',
                            url=url_for('quincenas.generate_timbrados_pensionados', quincena_id=quincena.id),
                            id='GenerateTimbradosPensionados',
                            icon='mdi mdi-play',
                            message="¿Generar un nuevo archivo XLSX para timbrados de pensionados?",
                            color_class='btn-outline-success')
                        }}
                    {% endif %}
                {% endcall %}
            </div>
        {% endif %}
        {# Timbrados Apoyos Anuales #}
        {% if quincena.tiene_apoyos_anuales %}
        {% set title = '<span class="iconify" data-icon="mdi mdi-file-document"></span> Timbrados Apoyos Anuales' %}
            <div class="col-md-3">
                {% if quincena_producto_timbrados_apoyos_anuales %}
                    {% if quincena_producto_timbrados_apoyos_anuales.es_satisfactorio %}
                        {% set border_class='border-success' %}
                        {% set text_class='text-success' %}
                    {% else %}
                        {% set border_class='border-danger' %}
                        {% set text_class='text-danger' %}
                    {% endif %}
                    {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                        <ul>
                            {% if quincena_producto_timbrados_apoyos_anuales.mensajes %}
                                {% set list = quincena_producto_timbrados_apoyos_anuales.mensajes.split("\n") %}
                                {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                            {% endif %}
                            <li>{{ moment(quincena_producto_timbrados_apoyos_anuales.creado).format('DD MMM YYYY HH:mm') }}</li>
                        </ul>
                        {% if quincena_producto_timbrados_apoyos_anuales.url %}
                            {{ detail.button_md(
                                label='Descargar XLSX',
                                url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_timbrados_apoyos_anuales.id),
                                icon='mdi mdi-download',
                                target='_blank')
                            }}
                        {% endif %}
                        {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                            {{ modals.button_modal_sm(
                                label='Eliminar',
                                url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_timbrados_apoyos_anuales.id),
                                id='DeleteTimbradosApoyosAnuales',
                                icon='mdi mdi-delete',
                                message="¿Eliminar el archivo XLSX para timbrados apoyos anuales?",
                                color_class='btn-outline-danger')
                            }}
                        {% endif %}
                    {% endcall %}
                {% else %}
                    {% if quincena.tiene_apoyos_anuales %}
                        {% call detail.card(title=title) %}
                            <p class="lead text-center">No hay archivo</p>
                            {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                                {{ modals.button_modal_md(
                                    label='Generar XLSX',
                                    url=url_for('quincenas.generate_timbrados_apoyos_anuales', quincena_id=quincena.id),
                                    id='GenerateTimbradosApoyosAnuales',
                                    icon='mdi mdi-play',
                                    message="¿Generar un nuevo archivo XLSX para timbrados apoyos anuales?",
                                    color_class='btn-outline-success')
                                }}
                            {% endif %}
                        {% endcall %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {# Timbrados Aguinaldos #}
        {% set title = '<span class="iconify" data-icon="mdi mdi-file-document"></span> Timbrados Aguinaldos' %}
        {% if quincena.tiene_aguinaldos %}
            <div class="col-md-3">
                {% if quincena_producto_timbrados_aguinaldos %}
                    {% if quincena_producto_timbrados_aguinaldos.es_satisfactorio %}
                        {% set border_class='border-success' %}
                        {% set text_class='text-success' %}
                    {% else %}
                        {% set border_class='border-danger' %}
                        {% set text_class='text-danger' %}
                    {% endif %}
                    {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                        <ul>
                            {% if quincena_producto_timbrados_aguinaldos.mensajes %}
                                {% set list = quincena_producto_timbrados_aguinaldos.mensajes.split("\n") %}
                                {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                            {% endif %}
                            <li>{{ moment(quincena_producto_timbrados_aguinaldos.creado).format('DD MMM YYYY HH:mm') }}</li>
                        </ul>
                        {% if quincena_producto_timbrados_aguinaldos.url %}
                            {{ detail.button_md(
                                label='Descargar XLSX',
                                url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_timbrados_aguinaldos.id),
                                icon='mdi mdi-download',
                                target='_blank')
                            }}
                        {% endif %}
                        {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                            {{ modals.button_modal_sm(
                                label='Eliminar',
                                url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_timbrados_aguinaldos.id),
                                id='DeleteTimbradosAguinaldos',
                                icon='mdi mdi-delete',
                                message="¿Eliminar el archivo XLSX para timbrados aguinaldos?",
                                color_class='btn-outline-danger')
                            }}
                        {% endif %}
                    {% endcall %}
                {% else %}
                    {% if quincena.tiene_aguinaldos %}
                        {% call detail.card(title=title) %}
                            <p class="lead text-center">No hay archivo</p>
                            {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                                {{ modals.button_modal_md(
                                    label='Generar XLSX',
                                    url=url_for('quincenas.generate_timbrados_aguinaldos', quincena_id=quincena.id),
                                    id='GenerateTimbradosAguinaldos',
                                    icon='mdi mdi-play',
                                    message="¿Generar un nuevo archivo XLSX para timbrados aguinaldos?",
                                    color_class='btn-outline-success')
                                }}
                            {% endif %}
                        {% endcall %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {# Timbrados Primas Vacacionales #}
        {% set title = '<span class="iconify" data-icon="mdi mdi-file-document"></span> Timbrados Primas Vacacionales' %}
        {% if quincena.tiene_primas_vacacionales %}
            <div class="col-md-3">
                {% if quincena_producto_timbrados_primas_vacacionales %}
                    {% if quincena_producto_timbrados_primas_vacacionales.es_satisfactorio %}
                        {% set border_class='border-success' %}
                        {% set text_class='text-success' %}
                    {% else %}
                        {% set border_class='border-danger' %}
                        {% set text_class='text-danger' %}
                    {% endif %}
                    {% call detail.card(title=title, border_class=border_class, text_class=text_class) %}
                        <ul>
                            {% if quincena_producto_timbrados_primas_vacacionales.mensajes %}
                                {% set list = quincena_producto_timbrados_primas_vacacionales.mensajes.split("\n") %}
                                {% for msg in list %}<li><span title="{{ msg }}">{{ msg | truncate(64) }}</span></li>{% endfor %}
                            {% endif %}
                            <li>{{ moment(quincena_producto_timbrados_primas_vacacionales.creado).format('DD MMM YYYY HH:mm') }}</li>
                        </ul>
                        {% if quincena_producto_timbrados_primas_vacacionales.url %}
                            {{ detail.button_md(
                                label='Descargar XLSX',
                                url=url_for('quincenas_productos.download_xlsx', quincena_producto_id=quincena_producto_timbrados_primas_vacacionales.id),
                                icon='mdi mdi-download',
                                target='_blank')
                            }}
                        {% endif %}
                        {% if current_user.can_admin('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                            {{ modals.button_modal_sm(
                                label='Eliminar',
                                url=url_for('quincenas_productos.delete', quincena_producto_id=quincena_producto_timbrados_primas_vacacionales.id),
                                id='DeleteTimbradosPrimasVacacionales',
                                icon='mdi mdi-delete',
                                message="¿Eliminar el archivo XLSX para timbrados primas vacacionales?",
                                color_class='btn-outline-danger')
                            }}
                        {% endif %}
                    {% endcall %}
                {% else %}
                    {% if quincena.tiene_primas_vacacionales %}
                        {% call detail.card(title=title) %}
                            <p class="lead text-center">No hay archivo</p>
                            {% if current_user.can_insert('QUINCENAS PRODUCTOS') and quincena.estado == 'ABIERTA' %}
                                {{ modals.button_modal_md(
                                    label='Generar XLSX',
                                    url=url_for('quincenas.generate_timbrados_primas_vacacionales', quincena_id=quincena.id),
                                    id='GenerateTimbradosPrimasVacacionales',
                                    icon='mdi mdi-play',
                                    message="¿Generar un nuevo archivo XLSX para timbrados primas vacacionales?",
                                    color_class='btn-outline-success')
                                }}
                            {% endif %}
                        {% endcall %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {# Exportar timbrados #}
    {% if quincena.estado == 'CERRADA' %}
    <div class="row mb-2">
        {# Timbrados con tipo salario #}
        {% set title = '<span class="iconify" data-icon="mdi mdi-file-document"></span> Datos en los XML de los Timbrados' %}
        <div class="col-md-3">
            {% call detail.card(title=title) %}
                {{ modals.button_modal_sm(
                    label='Exportar SALARIO a XLSX',
                    url=url_for('quincenas.export_timbrados', nomina_tipo='SALARIO', quincena_id=quincena.id),
                    id='ExportarXLSXTimbradosSalarios',
                    icon='mdi mdi-play',
                    message="¿Exportar a un archivo XLSX los datos de los timbrados del tipo de nómina SALARIO?",
                    color_class='btn-outline-primary')
                }}
                {% if quincena.tiene_apoyos_anuales %}
                {{ modals.button_modal_sm(
                    label='Exportar APOYO ANUAL a XLSX',
                    url=url_for('quincenas.export_timbrados', nomina_tipo='APOYO ANUAL', quincena_id=quincena.id),
                    id='ExportarXLSXTimbradosAguinaldos',
                    icon='mdi mdi-play',
                    message="¿Exportar a un archivo XLSX los datos de los timbrados del tipo de nómina APOYO ANUAL?",
                    color_class='btn-outline-primary')
                }}
                {% endif %}
                {% if quincena.tiene_aguinaldos %}
                {{ modals.button_modal_sm(
                    label='Exportar AGUINALDO a XLSX',
                    url=url_for('quincenas.export_timbrados', nomina_tipo='AGUINALDO', quincena_id=quincena.id),
                    id='ExportarXLSXTimbradosAguinaldos',
                    icon='mdi mdi-play',
                    message="¿Exportar a un archivo XLSX los datos de los timbrados del tipo de nómina AGUINALDO?",
                    color_class='btn-outline-primary')
                }}
                {% endif %}
                {% if quincena.tiene_primas_vacacionales %}
                {{ modals.button_modal_sm(
                    label='Exportar PRIMA VACACIONAL a XLSX',
                    url=url_for('quincenas.export_timbrados', nomina_tipo='PRIMA VACACIONAL', quincena_id=quincena.id),
                    id='ExportarXLSXTimbradosAguinaldos',
                    icon='mdi mdi-play',
                    message="¿Exportar a un archivo XLSX los datos de los timbrados del tipo de nómina PRIMA VACACIONAL?",
                    color_class='btn-outline-primary')
                }}
                {% endif %}
            {% endcall %}
        </div>
    </div>
    {% endif %}
    {# Datatable con las nominas de la Quincena #}
    {% if current_user.can_view('NOMINAS') %}
        {% call detail.card('Nóminas') %}
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosNominas.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaRFC" type="text" class="form-control" aria-label="RFC" style="text-transform: uppercase;">
                                <label for="filtroPersonaRFC">RFC</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                                <label for="filtroPersonaNombres">Nombres</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoPrimero" type="text" class="form-control" aria-label="Apellido primero" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoPrimero">Primer apellido</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoSegundo" type="text" class="form-control" aria-label="Apellido segundo" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoSegundo">Segundo apellido</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <select id="filtroTipo" class="form-select" aria-label="Tipo">
                                <option selected value="">Filtro Tipo</option>
                                <option value="AGUINALDO">AGUINALDO</option>
                                <option value="APOYO ANUAL">APOYO ANUAL</option>
                                <option value="APOYO DIA DE LA MADRE">APOYO DIA DE LA MADRE</option>
                                <option value="ASIMILADO">ASIMILADO</option>
                                <option value="DESPENSA">DESPENSA</option>
                                <option value="EXTRAORDINARIO">EXTRAORDINARIO</option>
                                <option value="PENSION ALIMENTICIA">PENSION ALIMENTICIA</option>
                                <option value="PRIMA VACACIONAL">PRIMA VACACIONAL</option>
                                <option value="SALARIO">SALARIO</option>
                                <option value="RETROACTIVO AGUINALDO">RETROACTIVO AGUINALDO</option>
                            </select>
                            <select id="filtroTimbrado" class="form-select" aria-label="Tipo">
                                <option selected value="">Filtro TFD</option>
                                <option value="1">TIMBRADOS</option>
                                <option value="-1">NO TIMBRADOS</option>
                            </select>
                        </div>
                        <div class="col-2 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosNominas.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosNominas.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <table id="nominas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th>Centro de T.</th>
                        <th>Plaza</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Tipo</th>
                        <th style="text-align:right">Percepción</th>
                        <th style="text-align:right">Deducción</th>
                        <th style="text-align:right">Importe</th>
                        <th>F. de Pago</th>
                        <th>TFD</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Modales -->
    {{ modals.custom_javascript('Generar Nóminas', '', 'GenerateNominas') }}
    {{ modals.custom_javascript('Eliminar Nóminas', '', 'DeleteNominas') }}
    {{ modals.custom_javascript('Generar Monederos', '', 'GenerateMonederos') }}
    {{ modals.custom_javascript('Eliminar Monederos', '', 'DeleteMonederos') }}
    {{ modals.custom_javascript('Generar Pensionados', '', 'GeneratePensionados') }}
    {{ modals.custom_javascript('Eliminar Pensionados', '', 'DeletePensionados') }}
    {{ modals.custom_javascript('Generar Primas Vacacionales', '', 'GeneratePrimasVacacionales') }}
    {{ modals.custom_javascript('Eliminar Primas Vacacionales', '', 'DeletePrimasVacacionales') }}
    {{ modals.custom_javascript('Generar Timbrados Empleados Activos', '', 'GenerateTimbradosEmpleadosActivos') }}
    {{ modals.custom_javascript('Eliminar Timbrados Empleados Activos', '', 'DeleteTimbradosEmpleadosActivos') }}
    {{ modals.custom_javascript('Generar Timbrados Pensionados', '', 'GenerateTimbradosPensionados') }}
    {{ modals.custom_javascript('Eliminar Timbrados Pensionados', '', 'DeleteTimbradosPensionados') }}
    {{ modals.custom_javascript('Generar Timbrados Aguinaldos', '', 'GenerateTimbradosAguinaldos') }}
    {{ modals.custom_javascript('Eliminar Timbrados Aguinaldos', '', 'DeleteTimbradosAguinaldos') }}
    {{ modals.custom_javascript('Generar Timbrados Apoyos Anuales', '', 'GenerateTimbradosApoyosAnuales') }}
    {{ modals.custom_javascript('Eliminar Timbrados Apoyos Anuales', '', 'DeleteTimbradosApoyosAnuales') }}
    {{ modals.custom_javascript('Generar Timbrados Primas Vacacionales', '', 'GenerateTimbradosPrimasVacacionales') }}
    {{ modals.custom_javascript('Eliminar Timbrados Primas Vacacionales', '', 'DeleteTimbradosPrimasVacacionales') }}
    {{ modals.custom_javascript('Generar Todos', '', 'GenerateTodos') }}
    {{ modals.custom_javascript('Exportar tipo SALARIO a XLSX', '', 'ExportarXLSXTimbradosSalarios') }}
    {{ modals.custom_javascript('Exportar tipo AGUINALDO a XLSX', '', 'ExportarXLSXTimbradosAguinaldos') }}
    {% if current_user.can_admin('QUINCENA') %}
        {% if quincena.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + quincena.clave + '?') }}{% endif %}
        {% if quincena.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + quincena.clave + '?') }}{% endif %}
    {% endif %}
    <!-- DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {% if current_user.can_view('NOMINAS') %}
        <script>
            // DataTable Nominas
            let configDTNominas = constructorDataTable.config();
            configDTNominas['ajax']['url'] = '/nominas/datatable_json';
            configDTNominas['ajax']['data'] = { 'estatus': "A", 'quincena_id': {{ quincena.id }} };
            configDTNominas['columns'] = [
                { data: 'detalle' },
                { data: 'persona_rfc' },
                { data: 'persona_nombre_completo' },
                { data: 'centro_trabajo_clave' },
                { data: 'plaza_clave' },
                { data: 'desde_clave' },
                { data: 'hasta_clave' },
                { data: 'tipo' },
                { data: 'percepcion' },
                { data: 'deduccion' },
                { data: 'importe' },
                { data: 'fecha_pago' },
                { data: 'timbrado' },
            ];
            configDTNominas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 2, // persona_nombre_completo
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 16 ? data.substr(0, 16) + '…' : data);
                    }
                },
                {
                    targets: 7, // tipo
                    render: function(data, type, row, meta) {
                        if (data.length < 4) {
                            return data;
                        }
                        return '<span title="' + data + '">' + data.substring(0, 4) + '...</span>';
                    }
                },
                {
                    targets: [8, 9, 10], // percepcion, deduccion, importe
                    render: $.fn.dataTable.render.number( ',', '.', 2, '$\t' ),
                    className: "dt-body-right",
                },
                {
                    targets: 12, // tfd
                    render: function(data, type, row, meta) {
                        if (data.id != 0) {
                            return '<a href="' + data.url + '"><span class="iconify" data-icon="mdi mdi-invoice-list"></span></a>';
                        }
                        return '';
                    }
                }
            ];
            configDTNominas['createdRow'] = function(row, data, dataIndex) {
                if (data.num_cheque != '') {
                    if (data.timbrado.url != '') {
                        $(row).addClass('table-success');
                    } else {
                        $(row).addClass('table-info');
                    }
                }
            };
            // Filtros Nominas
            const filtrosNominas = new FiltrosDataTable('#nominas_datatable', configDTNominas);
            filtrosNominas.agregarInput('filtroPersonaRFC', 'persona_rfc');
            filtrosNominas.agregarInput('filtroPersonaNombres', 'persona_nombres');
            filtrosNominas.agregarInput('filtroPersonaApellidoPrimero', 'persona_apellido_primero');
            filtrosNominas.agregarInput('filtroPersonaApellidoSegundo', 'persona_apellido_segundo');
            filtrosNominas.agregarSelect('filtroTipo', 'tipo');
            filtrosNominas.agregarSelect('filtroTimbrado', 'tfd');
            filtrosNominas.precargar();
        </script>
    {% endif %}
{% endblock %}
