{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('QUINCENAS PRODUCTOS') %}
            {{ topbar.button('Productos', url_for('quincenas_productos.list_active'), 'mdi mdi-calendar-export') }}
        {% endif %}
        {% if current_user.can_admin('QUINCENAS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('quincenas.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('quincenas.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_admin('QUINCENAS') %}
            {{ modals.button_modal('Cerrar Quincenas', url_for('quincenas.close_all'), 'Close', 'mdi mdi-stop', "¿Está seguro de cerrar TODAS las quincenas abiertas porque los consecutivos de los bancos se van a cambiar?") }}
        {% endif %}
        {% if current_user.can_insert('QUINCENAS') %}
            {{ topbar.button_new('Nueva Quincena', url_for('quincenas.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <table id="quincenas_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Quincena</th>
                    <th>Estado</th>
                    <th>Aguinaldos</th>
                    <th>Apoyos Anuales</th>
                    <th>Primas Vacacionales</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {{ modals.custom_javascript('Cerrar Quincenas', '', 'Close') }}
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable plural
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTQuincenas = constructorDataTable.config();
        configDTQuincenas['ajax']['url'] = '{{ url_for('quincenas.datatable_json') }}';
        configDTQuincenas['ajax']['data'] = {{ filtros }};
        configDTQuincenas['columns'] = [
            { data: 'detalle' },
            { data: 'estado' },
            { data: 'tiene_aguinaldos' },
            { data: 'tiene_apoyos_anuales' },
            { data: 'tiene_primas_vacacionales' }
        ];
        configDTQuincenas['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
            {
                targets: [2, 3, 4], // tiene_aguinaldos, tiene_apoyos_anuales
                data: null,
                render: function(data, type, row, meta) {
                    if (data) {
                        return '<span class="mdi mdi-check">';
                    } else {
                        return '';
                    }
                }
            }
        ];
        // Filtros plural
        const filtrosQuincenas = new FiltrosDataTable('#quincenas_datatable', configDTQuincenas);
        filtrosQuincenas.precargar();
    </script>
{% endblock %}
