{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Banco {{ banco.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Banco ' + banco.nombre) %}
        {{ topbar.button_previous('Bancos', url_for('bancos.list_active')) }}
        {% if current_user.can_edit('BANCOS') %}
            {{ topbar.button_edit('Editar', url_for('bancos.edit', banco_id=banco.id)) }}
        {% endif %}
        {% if current_user.can_admin('BANCOS') %}
            {% if banco.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('bancos.delete', banco_id=banco.id)) }}{% endif %}
            {% if banco.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('bancos.recover', banco_id=banco.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Detalle del Banco -->
    {% call detail.card(estatus=banco.estatus) %}
        {{ detail.label_value_big('Nombre', banco.nombre) }}
        {{ detail.label_value('Clave', banco.clave) }}
        {{ detail.label_value('Clave dispersiones pensionados', banco.clave_dispersion_pensionados) }}
        {{ detail.label_value('Consecutivo', banco.consecutivo) }}
        {{ detail.label_value('Consecutivo temporal', banco.consecutivo_generado) }}
        {{ detail.label_value('Creado', moment(banco.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    <!-- Cuentas del Banco -->
    {% if current_user.can_view('CUENTAS') %}
        {% call detail.card('Cuentas de las Personas') %}
            <!-- Filtros Cuentas -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorCuentasForm" onsubmit="filtrosPersonas.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaRFC" type="text" class="form-control" aria-label="RFC" style="text-transform: uppercase;">
                                <label for="filtroPersonaRFC">RFC</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                                <label for="filtroPersonaNombres">Nombres</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoPrimero" type="text" class="form-control" aria-label="Apellido primero" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoPrimero">Primer apellido</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroPersonaApellidoSegundo" type="text" class="form-control" aria-label="Apellido segundo" style="text-transform: uppercase;">
                                <label for="filtroPersonaApellidoSegundo">Segundo apellido</label>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosPersonas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosPersonas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable Cuentas -->
            <table id="cuentas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th>No. de cuenta</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {% if current_user.can_view('BENEFICIARIOS CUENTAS') %}
        <!-- Cuentas de los Beneficiarios -->
        {% call detail.card('Cuentas de los Beneficiarios') %}
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorBeneficiariosForm" onsubmit="filtrosBeneficiarios.buscar(); return false;">
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroBeneficiarioRFC" type="text" class="form-control" aria-label="RFC" style="text-transform: uppercase;">
                                <label for="filtroBeneficiarioRFC">RFC</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroBeneficiarioNombres" type="text" class="form-control" aria-label="Nombres" style="text-transform: uppercase;">
                                <label for="filtroBeneficiarioNombres">Nombres</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroBeneficiarioApellidoPrimero" type="text" class="form-control" aria-label="Apellido primero" style="text-transform: uppercase;">
                                <label for="filtroBeneficiarioApellidoPrimero">Primer apellido</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input id="filtroBeneficiarioApellidoSegundo" type="text" class="form-control" aria-label="Apellido segundo" style="text-transform: uppercase;">
                                <label for="filtroBeneficiarioApellidoSegundo">Segundo apellido</label>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosBeneficiarios.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosBeneficiarios.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <table id="beneficiarios_cuentas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th>No. de cuenta</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Constructor de DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Cuentas de las Persona -->
    {% if current_user.can_view('CUENTAS') %}
        <script>
            // DataTable Cuentas
            let configDTCuentas = constructorDataTable.config();
            configDTCuentas['ajax']['url'] = '/cuentas/datatable_json';
            configDTCuentas['ajax']['data'] = { 'estatus': "A", 'banco_id': {{ banco.id }} };
            configDTCuentas['columns'] = [
                { data: 'detalle' },
                { data: 'persona_rfc' },
                { data: 'persona_nombre_completo' },
                { data: 'num_cuenta' }
            ];
            configDTCuentas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            // Filtros Cuentas
            const filtrosPersonas = new FiltrosDataTable('#cuentas_datatable', configDTCuentas);
            filtrosPersonas.agregarInput('filtroPersonaRFC', 'persona_rfc');
            filtrosPersonas.agregarInput('filtroPersonaNombres', 'persona_nombres');
            filtrosPersonas.agregarInput('filtroPersonaApellidoPrimero', 'persona_apellido_primero');
            filtrosPersonas.agregarInput('filtroPersonaApellidoSegundo', 'persona_apellido_segundo');
            filtrosPersonas.precargar();
        </script>
    {% endif %}
    <!-- Cuentas de los Beneficiarios -->
    {% if current_user.can_view('BENEFICIARIOS CUENTAS') %}
        <script>
            // DataTable Cuentas de los Beneficiarios
            let configDTBeneficiariosCuentas = constructorDataTable.config();
            configDTBeneficiariosCuentas['ajax']['url'] = '/beneficiarios_cuentas/datatable_json';
            configDTBeneficiariosCuentas['ajax']['data'] = { 'estatus': "A", 'banco_id': {{ banco.id}} };
            configDTBeneficiariosCuentas['columns'] = [
                { data: 'detalle' },
                { data: 'beneficiario_rfc' },
                { data: 'beneficiario_nombre_completo' },
                { data: 'num_cuenta' }
            ];
            configDTBeneficiariosCuentas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            // Filtros Cuentas de los Beneficiarios
            const filtrosBeneficiarios = new FiltrosDataTable('#beneficiarios_cuentas_datatable', configDTBeneficiariosCuentas);
            filtrosBeneficiarios.agregarInput('filtroBeneficiarioRFC', 'beneficiario_rfc');
            filtrosBeneficiarios.agregarInput('filtroBeneficiarioNombres', 'beneficiario_nombres');
            filtrosBeneficiarios.agregarInput('filtroBeneficiarioApellidoPrimero', 'beneficiario_apellido_primero');
            filtrosBeneficiarios.agregarInput('filtroBeneficiarioApellidoSegundo', 'beneficiario_apellido_segundo');
            filtrosBeneficiarios.precargar();
        </script>
    {% endif %}
    <!-- Modales -->
    {% if current_user.can_admin('BANCOS') %}
        {% if banco.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + banco.clave + '?') }}{% endif %}
        {% if banco.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + banco.clave + '?') }}{% endif %}
    {% endif %}
    <!-- Moment.js -->
    {{ detail.moment_js(moment) }}
{% endblock %}
