{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Banco {{ banco.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Banco ' + banco.nombre) %}
        {{ topbar.button_previous('Bancos', url_for('bancos.list_active')) }}
        {% if current_user.can_edit('BANCOS') %}
            {{ topbar.button_edit('Editar', url_for('bancos.edit', banco_id=banco.id)) }}
        {% endif %}
        {% if current_user.can_admin('BANCOS') %}
            {% if banco.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('bancos.delete', banco_id=banco.id)) }}{% endif %}
            {% if banco.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('bancos.recover', banco_id=banco.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=banco.estatus) %}
        {{ detail.label_value_big('Nombre', banco.nombre) }}
        {{ detail.label_value('Clave', banco.clave) }}
        {{ detail.label_value('Clave dispersiones pensionados', banco.clave_dispersion_pensionados) }}
        {{ detail.label_value('Consecutivo', banco.consecutivo) }}
        {{ detail.label_value('Consecutivo temporal', banco.consecutivo_generado) }}
        {{ detail.label_value('Creado', moment(banco.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    {% if current_user.can_view('CUENTAS') %}
        {% call detail.card('Cuentas') %}
            <table id="cuentas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th>No. de cuenta</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {{ detail.config_datatable() }}
    {% if current_user.can_view('CUENTAS') %}
        <script>
            configDataTable['ajax']['url'] = '/cuentas/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'banco_id': {{ banco.id}} };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'persona_rfc' },
                { data: 'persona_nombre_completo' },
                { data: 'num_cuenta' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                }
            ];
            $('#cuentas_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    {% if current_user.can_admin('BANCOS') %}
        {% if banco.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + banco.clave + '?') }}{% endif %}
        {% if banco.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + banco.clave + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
