{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Beneficiario {{ beneficiario.rfc }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Beneficiario' + beneficiario.rfc) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'beneficiario_id': beneficiario.id} %}
        {% call f.form_tag('beneficiarios.edit', fid='beneficiario_form', **form_kwargs) %}
            {% call f.form_group(form.rfc) %}{% endcall %}
            {% call f.form_group(form.nombres) %}{% endcall %}
            {% call f.form_group(form.apellido_primero) %}{% endcall %}
            {% call f.form_group(form.apellido_segundo) %}{% endcall %}
            {% call f.form_group(form.curp) %}{% endcall %}
            {% call f.form_group(form.nacimiento_fecha) %}{% endcall %}
            {% call f.form_group(form.modelo) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
