{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Plaza {{ plaza.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Plaza ' + plaza.clave) %}
        {{ topbar.button_previous('Plazas', url_for('plazas.list_active')) }}
        {% if current_user.can_admin('PLAZAS') %}
            {{ topbar.button_edit('Editar', url_for('plazas.edit', plaza_id=plaza.id)) }}
            {% if plaza.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('plazas.delete', plaza_id=plaza.id)) }}{% endif %}
            {% if plaza.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('plazas.recover', plaza_id=plaza.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Detalle de la Plaza -->
    {% call detail.card(estatus=plaza.estatus) %}
        {{ detail.label_value('Clave', plaza.clave) }}
        {{ detail.label_value('Descripción', plaza.descripcion) }}
    {% endcall %}
    <!-- Nominas de la Plaza -->
    {% if current_user.can_view('NOMINAS') %}
        {% call detail.card('Nóminas') %}
            <!-- Filtros Nominas -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosNominas.buscar(); return false;">
                        <div class="col-3">
                            <div class="form-floating">
                                <input id="filtroNominaQuincenaClave" type="text" class="form-control" aria-label="Quincena">
                                <label for="filtroNominaQuincenaClave">Quincena</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <select id="filtroTipo" class="form-select" aria-label="Tipo">
                                <option selected value="">Filtro Tipo</option>
                                <option value="AGUINALDO">AGUINALDO</option>
                                <option value="APOYO ANUAL">APOYO ANUAL</option>
                                <option value="APOYO DIA DE LA MADRE">APOYO DIA DE LA MADRE</option>
                                <option value="ASIMILADO">ASIMILADO</option>
                                <option value="DESPENSA">DESPENSA</option>
                                <option value="EXTRAORDINARIO">EXTRAORDINARIO</option>
                                <option value="PENSION ALIMENTICIA">PENSION ALIMENTICIA</option>
                                <option value="PRIMA VACACIONAL">PRIMA VACACIONAL</option>
                                <option value="SALARIO">SALARIO</option>
                                <option value="RETROACTIVO AGUINALDO">RETROACTIVO AGUINALDO</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select id="filtroTimbrado" class="form-select" aria-label="Tipo">
                                <option selected value="">Filtro TFD</option>
                                <option value="1">TIMBRADOS</option>
                                <option value="-1">NO TIMBRADOS</option>
                            </select>
                        </div>
                        <div class="col-3 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosNominas.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosNominas.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable Nominas -->
            <table id="nominas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Quincena</th>
                        <th>RFC</th>
                        <th>Nombre completo</th>
                        <th>Centro de T.</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Tipo</th>
                        <th style="text-align:right">Percepción</th>
                        <th style="text-align:right">Deducción</th>
                        <th style="text-align:right">Importe</th>
                        <th>No. Cheque</th>
                        <th>F. de Pago</th>
                        <th>TFD</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Modales -->
    {% if current_user.can_admin('PLAZAS') %}
        {% if plaza.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + plaza.clave + '?') }}{% endif %}
        {% if plaza.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + plaza.clave + '?') }}{% endif %}
    {% endif %}
    <!-- DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {% if current_user.can_view('NOMINAS') %}
        <script>
            // DataTable Nominas
            let configDTNominas = constructorDataTable.config();
            configDTNominas['ajax']['url'] = '/nominas/datatable_json';
            configDTNominas['ajax']['data'] = { 'estatus': "A", 'plaza_id': {{ plaza.id }} };
            configDTNominas['columns'] = [
                { data: 'detalle' },
                { data: 'quincena_clave' },
                { data: 'persona_rfc' },
                { data: 'persona_nombre_completo' },
                { data: 'centro_trabajo_clave' },
                { data: 'desde_clave' },
                { data: 'hasta_clave' },
                { data: 'tipo' },
                { data: 'percepcion' },
                { data: 'deduccion' },
                { data: 'importe' },
                { data: 'num_cheque' },
                { data: 'fecha_pago' },
                { data: 'timbrado' },
            ];
            configDTNominas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: 3, // persona_nombre_completo
                    data: null,
                    render: function(data, type, row, meta) {
                        return (data.length > 16 ? data.substr(0, 16) + '…' : data);
                    }
                },
                {
                    targets: [8, 9, 10], // percepcion, deduccion, importe
                    render: $.fn.dataTable.render.number( ',', '.', 2, '$\t' ),
                    className: "dt-body-right",
                },
                {
                    targets: 13, // timbrado
                    render: function(data, type, row, meta) {
                        if (data.id != 0) {
                            return '<a href="' + data.url + '"><span class="iconify" data-icon="mdi:invoice-list"></span></a>';
                        }
                        return '';
                    }
                }
            ];
            configDTNominas['createdRow'] = function(row, data, dataIndex) {
                if (data.num_cheque != '') {
                    if (data.timbrado.url != '') {
                        $(row).addClass('table-success');
                    } else {
                        $(row).addClass('table-info');
                    }
                }
            };
            // Filtros Nominas
            const filtrosNominas = new FiltrosDataTable('#nominas_datatable', configDTNominas);
            filtrosNominas.agregarInput('filtroNominaQuincenaClave', 'quincena_clave');
            filtrosNominas.agregarSelect('filtroTipo', 'tipo');
            filtrosNominas.agregarSelect('filtroTimbrado', 'tfd');
            filtrosNominas.precargar();
        </script>
    {% endif %}
{% endblock %}
