{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Tabulador ID {{ tabulador.id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Tabulador ID ' + tabulador.id | string) %}
        {{ topbar.button_previous('Tabuladores', url_for('tabuladores.list_active')) }}
        {# if current_user.can_edit('TABULADORES') %}
            {{ topbar.button_edit('Editar', url_for('tabuladores.edit', tabulador_id=tabulador.id)) }}
        {% endif #}
        {# if current_user.can_admin('TABULADORES') %}
            {% if tabulador.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('tabuladores.delete', tabulador_id=tabulador.id)) }}{% endif %}
            {% if tabulador.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('tabuladores.recover', tabulador_id=tabulador.id)) }}{% endif %}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    <!-- Detalle del Tabulador -->
    {% call detail.card(estatus=tabulador.estatus) %}
        {# Columnas que hacen una combinacion unica #}
        {{ detail.label_value_big('Puesto', tabulador.puesto.clave + ' - ' + tabulador.puesto.descripcion, url_for('puestos.detail', puesto_id=tabulador.puesto_id)) }}
        {{ detail.label_value_big('Modelo', tabulador.modelo) }}
        {{ detail.label_value_big('Nivel', tabulador.nivel) }}
        {{ detail.label_value_big('Quinquenio', tabulador.quinquenio) }}
        {# Columnas independientes #}
        {{ detail.label_value('Fecha inicial', tabulador.fecha) }}
        {{ detail.label_value_currency('Sueldo base', tabulador.sueldo_base) }}
        {{ detail.label_value_currency('Incentivo', tabulador.incentivo) }}
        {{ detail.label_value_currency('Monedero', tabulador.monedero) }}
        {{ detail.label_value_currency('Recreación Cultura Deporte', tabulador.rec_cul_dep) }}
        {{ detail.label_value_currency('Sobresueldo', tabulador.sobresueldo) }}
        {{ detail.label_value_currency('Recreación Cultura Deporte gravado', tabulador.rec_dep_cul_gravado) }}
        {{ detail.label_value_currency('Recreación Cultura Deporte excento', tabulador.rec_dep_cul_excento) }}
        {{ detail.label_value_currency('Ayuda Transporte', tabulador.ayuda_transp) }}
        {{ detail.label_value_currency('Quinquenio', tabulador.monto_quinquenio) }}
        {{ detail.label_value_currency('Total Percepciones', tabulador.total_percepciones) }}
        {{ detail.label_value_currency('Salario Diario', tabulador.salario_diario) }}
        {{ detail.label_value_currency('Prima Vacacional mensual', tabulador.prima_vacacional_mensual) }}
        {{ detail.label_value_currency('Aguinaldo mensual', tabulador.aguinaldo_mensual) }}
        {{ detail.label_value_currency('Prima Vacacional adicional', tabulador.prima_vacacional_mensual_adicional) }}
        {{ detail.label_value_currency('Total Percepciones integrado', tabulador.total_percepciones_integrado) }}
        {{ detail.label_value_currency('Salario Diario integrado', tabulador.salario_diario_integrado) }}
        {# Columnas para pensionados #}
        {{ detail.label_value_currency('Pensión Vitalicia excento', tabulador.pension_vitalicia_excento) }}
        {{ detail.label_value_currency('Pensión Vitalicia gravable', tabulador.pension_vitalicia_gravable) }}
        {{ detail.label_value_currency('Pensión Bonificación', tabulador.pension_bonificacion) }}
        {# Creado #}
        {{ detail.label_value('Creado', moment(tabulador.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    <!-- Personas en el Tabulador -->
    {% if current_user.can_view('PERSONAS') %}
        {% call detail.card('Personas en el tabulador') %}
            <table id="personas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>RFC</th>
                        <th>Nombre</th>
                        <th>Apellido primero</th>
                        <th>Apellido segundo</th>
                        <th>CURP</th>
                        <th>C.P. fiscal</th>
                        <th>Modelo</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- Constructor de DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Personas en el Tabulador -->
    {% if current_user.can_view('PERSONAS') %}
        <script>
            // DataTable Personas
            let configDTPersonas = constructorDataTable.config();
            configDTPersonas['ajax']['url'] = '/personas/datatable_json';
            configDTPersonas['ajax']['data'] = { 'estatus': "A", 'tabulador_id': {{ tabulador.id}} };
            configDTPersonas['columns'] = [
                { data: 'detalle' },
                { data: 'nombres' },
                { data: 'apellido_primero' },
                { data: 'apellido_segundo' },
                { data: 'curp' },
                { data: 'codigo_postal_fiscal' },
                { data: 'modelo' }
            ];
            configDTPersonas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.rfc + '</a>';
                    }
                }
            ];
            $('#personas_datatable').DataTable(configDTPersonas);
        </script>
    {% endif %}
    <!-- Modales -->
    {% if current_user.can_admin('TABULADORES') %}
        {% if tabulador.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + tabulador.id | string + '?') }}{% endif %}
        {% if tabulador.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + tabulador.id | string + '?') }}{% endif %}
    {% endif %}
    <!-- Momento -->
    {{ detail.moment_js(moment) }}
{% endblock %}
