{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Puesto {{ puesto.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Puesto ' + puesto.clave) %}
        {{ topbar.button_previous('Puestos', url_for('puestos.list_active')) }}
        {# if current_user.can_edit('PUESTOS') %}
            {{ topbar.button_edit('Editar', url_for('puestos.edit', puesto_id=puesto.id)) }}
        {% endif %}
        {% if current_user.can_admin('PUESTOS') %}
            {% if puesto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('puestos.delete', puesto_id=puesto.id)) }}{% endif %}
            {% if puesto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('puestos.recover', puesto_id=puesto.id)) }}{% endif %}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=puesto.estatus) %}
        {{ detail.label_value_big('Clave', puesto.clave) }}
        {{ detail.label_value('Descripción', puesto.descripcion) }}
        {{ detail.label_value('Creado', moment(puesto.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
    {% if current_user.can_view('TABULADORES') %}
        {% call detail.card('Tabuladores') %}
            <table id="tabuladores_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Modelo</th>
                        <th>Nivel</th>
                        <th>Quinquenio</th>
                        <th>Fecha</th>
                        <th style="text-align:right">Sueldo Base</th>
                        <th style="text-align:right">Monedero</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    <!-- DataTables Tabuladores -->
    {{ detail.config_datatable() }}
    {% if current_user.can_view('TABULADORES') %}
        <script>
            configDataTable['ajax']['url'] = '/tabuladores/datatable_json';
            configDataTable['ajax']['data'] = { 'estatus': "A", 'puesto_id': {{ puesto.id}} };
            configDataTable['columns'] = [
                { data: 'detalle' },
                { data: 'modelo' },
                { data: 'nivel' },
                { data: 'quinquenio' },
                { data: 'fecha' },
                { data: 'sueldo_base' },
                { data: 'monedero' }
            ];
            configDataTable['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.id + '</a>';
                    }
                },
                {
                    targets: [5, 6], // sueldo_base, monedero
                    render: $.fn.dataTable.render.number( ',', '.', 4, '$\t' ),
                    className: "dt-body-right",
                }
            ];
            $('#tabuladores_datatable').DataTable(configDataTable);
        </script>
    {% endif %}
    <!-- Modales -->
    {% if current_user.can_admin('PUESTOS') %}
        {% if puesto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + puesto.clave + '?') }}{% endif %}
        {% if puesto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + puesto.clave + '?') }}{% endif %}
    {% endif %}
    <!-- Moment -->
    {{ detail.moment_js(moment) }}
{% endblock %}
