{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Percepcion Deduccion + {{ percepcion_deduccion.id }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Percepción Deducción ' + percepcion_deduccion.id) %}
        {{ topbar.button_previous('Percepciones Deducciones', url_for('percepciones_deducciones.list_active')) }}
        {% if current_user.can_edit('PERCEPCIONES DEDUCCIONES') %}
            {{ topbar.button_edit('Editar', url_for('percepciones_deducciones.edit', percepcion_deduccion_id=percepcion_deduccion.id)) }}
        {% endif %}
        {% if current_user.can_admin('PERCEPCIONES DEDUCCIONES') %}
            {% if percepcion_deduccion.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('percepciones_deducciones.delete', percepcion_deduccion_id=percepcion_deduccion.id)) }}{% endif %}
            {% if percepcion_deduccion.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('percepciones_deducciones.recover', percepcion_deduccion_id=percepcion_deduccion.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=percepcion_deduccion.estatus) %}
        {{ detail.label_value_big('Nombre o Descripción', percepcion_deduccion.id) }}
        {{ detail.label_value('Columna 1', percepcion_deduccion.columna_1) }}
        {{ detail.label_value('Columna 2', percepcion_deduccion.columna_2) }}
        {{ detail.label_value('Fecha', moment(lista_de_acuerdo.fecha, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('PERCEPCIONES DEDUCCIONES') %}
        {% if percepcion_deduccion.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + percepcion_deduccion.id + '?') }}{% endif %}
        {% if percepcion_deduccion.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + percepcion_deduccion.id + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
