{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_cancel() }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'persona_id': persona.id} %}
        {% call f.form_tag('percepciones_deducciones.new_with_persona', fid='percepcion_deduccion_form', **form_kwargs) %}
            {% call f.form_group(form.persona_rfc, readonly=true) %}{% endcall %}
            {% call f.form_group(form.persona_nombre_completo, readonly=true) %}{% endcall %}
            {% call f.form_group(form.centro_trabajo) %}{% endcall %}
            {% call f.form_group(form.concepto) %}{% endcall %}
            {% call f.form_group(form.plaza) %}{% endcall %}
            {% call f.form_group(form.quincena) %}{% endcall %}
            {% call f.form_group(form.importe) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
