{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Producto + {{ producto.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Producto ' + producto.clave) %}
        {{ topbar.button_previous('Productos', url_for('productos.list_active')) }}
        {% if current_user.can_admin('PRODUCTOS') %}
            {{ topbar.button_edit('Editar', url_for('productos.edit', producto_id=producto.id)) }}
            {% if producto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('productos.delete', producto_id=producto.id)) }}{% endif %}
            {% if producto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('productos.recover', producto_id=producto.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=producto.estatus) %}
        {{ detail.label_value('Clave', centro_trabajo.clave) }}
        {{ detail.label_value('Descripción', centro_trabajo.columna_2) }}
        {{ detail.label_value('Creado', moment(lista_de_acuerdo.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('PRODUCTOS') %}
        {% if producto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + producto.clave + '?') }}{% endif %}
        {% if producto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + producto.clave + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
