{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ nomina_reporte.descripcion }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(nomina_reporte.descripcion) %}
        {{ topbar.button_previous('Nominas Reportes', url_for('nominas_reportes.list_active')) }}
        {# if current_user.can_edit('NOMINAS REPORTES') %}
            {{ topbar.button_edit('Editar', url_for('nominas_reportes.edit', nomina_reporte_id=nomina_reporte.id)) }}
        {% endif #}
        {# if current_user.can_admin('NOMINAS REPORTES') %}
            {% if nomina_reporte.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('nominas_reportes.delete', nomina_reporte_id=nomina_reporte.id)) }}{% endif %}
            {% if nomina_reporte.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('nominas_reportes.recover', nomina_reporte_id=nomina_reporte.id)) }}{% endif %}
        {% endif #}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=nomina_reporte.estatus) %}
        {{ detail.label_value('Descripción', nomina_reporte.descripcion) }}
        {{ detail.label_value('Archivo', nomina_reporte.columna_1) }}
        {{ detail.label_value('URL', nomina_reporte.columna_2) }}
        <div class="row">
            <div class="col-md-3 text-end">Mensaje</div>
            <div class="col-md-9">
                <pre>{{ nomina_reporte.mensaje }}</pre>
            </div>
        </div>
        {{ detail.label_value('Creado', moment(nomina_reporte.creado, local=True).format('DD MMM YYYY')) }}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('NOMINAS REPORTES') %}
        {% if nomina_reporte.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + nomina_reporte.descripcion + '?') }}{% endif %}
        {% if nomina_reporte.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + nomina_reporte.descripcion + '?') }}{% endif %}
    {% endif %}
    {{ detail.moment_js(moment) }}
{% endblock %}
