{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_cancel() }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'producto_id': producto.id} %}
        {% call f.form_tag('conceptos_productos.new_with_producto', fid='concepto_producto_form', **form_kwargs) %}
            {% call f.form_group(form.concepto) %}{% endcall %}
            {% call f.form_group(form.producto_clave, readonly=true) %}{% endcall %}
            {% call f.form_group(form.producto_descripcion, readonly=true) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
