{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Cuenta del Beneficiario {{ beneficiario_cuenta.num_cuenta }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Editar ' + beneficiario_cuenta.num_cuenta) %}
        {{ topbar.button_cancel() }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'beneficiario_cuenta_id': beneficiario_cuenta.id} %}
        {% call f.form_tag('beneficiario_cuenta.edit', fid='beneficiario_cuenta_form', **form_kwargs) %}
            {% call f.form_group(form.banco, readonly=true) %}{% endcall %}
            {% call f.form_group(form.beneficiario_rfc, readonly=true) %}{% endcall %}
            {% call f.form_group(form.beneficiario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.num_cuenta) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
