{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar cuenta {{ beneficiario_cuenta.banco.nombre }} {{ beneficiario_cuenta.num_cuenta }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar cuenta ' + beneficiario_cuenta.banco.nombre + ' ' + beneficiario_cuenta.num_cuenta) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'beneficiario_cuenta_id': beneficiario_cuenta.id} %}
        {% call f.form_tag('beneficiarios_cuentas.edit', fid='beneficiario_cuenta_form', **form_kwargs) %}
            {% call f.form_group(form.beneficiario_rfc, readonly=true) %}{% endcall %}
            {% call f.form_group(form.beneficiario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.banco_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.num_cuenta) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
