{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page(titulo) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'beneficiario_id': beneficiario.id} %}
        {% call f.form_tag('beneficiarios_cuentas.new_with_beneficiario', fid='beneficiario_cuenta_form', **form_kwargs) %}
            {% call f.form_group(form.beneficiario_rfc, readonly=true) %}{% endcall %}
            {% call f.form_group(form.beneficiario_nombre, readonly=true) %}{% endcall %}
            {% call f.form_group(form.banco) %}{% endcall %}
            {% call f.form_group(form.num_cuenta) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
